.copyright {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: $icon-grey;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 290px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    width: 220px;
  }
}

.copyright__logo {
  fill: currentColor;
}

.copyright__text {
  color: $basic-text-color;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.copyright:hover,
.copyright:focus-visible {
  color: $bg-theme;
}

.copyright:active {
  opacity: 0.4;
}
