.location__map {
  width: 100%;
}

.location__wrapper {
  @media (min-width: 1440px) {
    position: relative;
  }
}

.location__contacts {
  @media (min-width: 1440px) {
    position: absolute;
    top: 95px;
    left: 110px;
  }
}
