.main-nav {
  @media (min-width: $tablet-width) {
    padding: 25px 30px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}

.main-nav__list {
  @include list-reset;
  position: absolute;
  top: 64px;
  z-index: 5;
  background-color: #ffffff;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    z-index: 10;
    align-items: center;
    width: auto;
    position: static;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    max-width: 650px;
  }
}

.main-nav__list--close {
  display: none;
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid $border-light;

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 33px;
  }
}

.main-nav__link {
  @include link-reset ($second-text-color);

  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  display: block;
  text-align: center;
  padding: 22px 20px 24px;
  z-index: 5;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: $light-text-color;
  }
}

.main-nav__link--catalog {
  @media (min-width: $desktop-width) {
    color: $second-dark;
  }
}
